@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
html{
  background-color: #eee;
  font-size: 1vw;
}
body{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: verdana;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header{
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7588ff;
  color: #fff;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 3rem;
}
main{
  height: 80vh;
  width: 100%;
  background-color: #ddd;
  display: flex;
  flex-direction: row;
}
.Zadanie{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.NrZad{
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: underline;
}
.Polecenie{
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen{
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #343434;
  font-style: italic;
}
.screen:hover{
  cursor: pointer;
  color: black;
}
footer{
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}
form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input[type=text] {
  width: 85%;
  height: 7%;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 7%;
}
input[type=number] {
  width: 85%;
  height: 7%;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 7%;
}
input[type=submit] {
  width: 55%;
  height: 15%;
  border: none;
  font-size: 1.5rem;
  background-color:#7588ff;
  border-radius: 5px;
  color: #eee;
}
input[type=submit]:hover {
  cursor:pointer;
  color: #fff;
  -webkit-filter: brightness(1.2);
  -moz-filter: brightness(1.2);
  -o-filter: brightness(1.2);
  -ms-filter: brightness(1.2);
  filter: brightness(1.2);
}
#ScreenWindow{
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.5s;
}
img{
  width: 50%;
  height: auto;
}
